@use '@/styles/mixins';

.contact-wrapper {
  background-color: #062938;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  gap: 2rem;
}

.contact-left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 50%;
  flex: 1;
}

.contact-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-statue {
  max-width: 100%;
  height: auto;
}

.rating-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 1rem;
}