@import 'tailwindcss';

@keyframes scaleUpDown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.animate-scale {
  animation: scaleUpDown 0.3s ease-in-out;
}
