body {
  overflow-x: hidden;
  width: 100vw;
}

@keyframes rainbowShadow {
  0% {
    filter: drop-shadow(-10px -10px 5px rgba(255, 221, 119, 0.3))
      drop-shadow(0px -10px 5px rgba(128, 11, 42, 0.3))
      drop-shadow(10px -10px 5px rgba(255, 165, 0, 0.3))
      drop-shadow(10px 0px 5px rgba(184, 46, 28, 0.3))
      drop-shadow(10px 10px 5px rgba(242, 140, 14, 0.3))
      drop-shadow(0px 10px 5px rgba(255, 221, 119, 0.3))
      drop-shadow(-10px 10px 5px rgba(184, 46, 28, 0.3)) brightness(1.2)
      saturate(1.3) contrast(1.2);
  }
  25% {
    filter: drop-shadow(-10px -10px 5px rgba(184, 46, 28, 0.3))
      drop-shadow(0px -10px 5px rgba(255, 221, 119, 0.3))
      drop-shadow(10px -10px 5px rgba(128, 11, 42, 0.3))
      drop-shadow(10px 0px 5px rgba(255, 165, 0, 0.3))
      drop-shadow(10px 10px 5px rgba(184, 46, 28, 0.3))
      drop-shadow(0px 10px 5px rgba(242, 140, 14, 0.3))
      drop-shadow(-10px 10px 5px rgba(255, 221, 119, 0.3)) brightness(1.2)
      saturate(1.3) contrast(1.2);
  }
  50% {
    filter: drop-shadow(-10px -10px 5px rgba(255, 221, 119, 0.3))
      drop-shadow(0px -10px 5px rgba(184, 46, 28, 0.3))
      drop-shadow(10px -10px 5px rgba(255, 221, 119, 0.3))
      drop-shadow(10px 0px 5px rgba(128, 11, 42, 0.3))
      drop-shadow(10px 10px 5px rgba(255, 165, 0, 0.3))
      drop-shadow(0px 10px 5px rgba(184, 46, 28, 0.3))
      drop-shadow(-10px 10px 5px rgba(242, 140, 14, 0.3)) brightness(1.2)
      saturate(1.3) contrast(1.2);
  }
  75% {
    filter: drop-shadow(-10px -10px 5px rgba(242, 140, 14, 0.3))
      drop-shadow(0px -10px 5px rgba(255, 221, 119, 0.3))
      drop-shadow(10px -10px 5px rgba(184, 46, 28, 0.3))
      drop-shadow(10px 0px 5px rgba(255, 221, 119, 0.3))
      drop-shadow(10px 10px 5px rgba(128, 11, 42, 0.3))
      drop-shadow(0px 10px 5px rgba(255, 165, 0, 0.3))
      drop-shadow(-10px 10px 5px rgba(184, 46, 28, 0.3)) brightness(1.2)
      saturate(1.3) contrast(1.2);
  }
  100% {
    filter: drop-shadow(-10px -10px 5px rgba(255, 221, 119, 0.3))
      drop-shadow(0px -10px 5px rgba(128, 11, 42, 0.3))
      drop-shadow(10px -10px 5px rgba(255, 165, 0, 0.3))
      drop-shadow(10px 0px 5px rgba(184, 46, 28, 0.3))
      drop-shadow(10px 10px 5px rgba(242, 140, 14, 0.3))
      drop-shadow(0px 10px 5px rgba(255, 221, 119, 0.3))
      drop-shadow(-10px 10px 5px rgba(184, 46, 28, 0.3)) brightness(1.2)
      saturate(1.3) contrast(1.2);
  }
}

.rainbowButtonWrapper {
  display: inline-block;
  animation: rainbowShadow 6s ease-in-out infinite;
}

@mixin firefly-animation($name, $distance, $duration) {
  @keyframes #{$name} {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY($distance);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .#{$name} {
    animation: #{$name} $duration ease-in-out infinite;
  }
}

@include firefly-animation('firefly1', -15px, 6s);
@include firefly-animation('firefly2', 20px, 7.5s);
@include firefly-animation('firefly3', -18px, 7s);
