.hero-text-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: var(--2x-big);
    color: var(--secondary-800)
}

.application-container{
    background-color: "#1D3D1DCC";
    color: white;
    text-align: center;
    border: 1px solid black;
}