@layer  button, flex;

@layer button {

  .content {
    background-color: var(--content-color,white);
  }

  .content:hover{
    background-color: var(--content-color-hover,white);
    cursor: pointer;
  }

  .content:active {
    background-color: var(--content-color-active,white);
  }
}