@use '@/styles/mixins';

.faq {
  padding-top: 330px;
  padding-bottom: 700px;
  overflow-x: hidden;
  width: 100%;

  @include mixins.media(mobile) {
    padding-bottom: 20px;
    padding-top: 160px;
  }
}

.card {
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.wrapper {
  position: relative;
}

.faqContainer {
  max-width: 80rem; /* Adjust as needed */
  width: 90%;
  margin: 0 auto; /* Centers it */
  text-align: center;
  @include mixins.media(mobile) {
    max-width: 300rem;
  }
}

.qaContainer {
  max-width: 70rem; /* Adjust as needed */
}

.faqItem {
  max-width: 22rem;
}

/* Responsive: 1 item per row on smaller screens */
@media (max-width: 768px) {
  .faqItem {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.alignleft {
  text-align: left;
}

.questionBox {
  min-width: 25rem;
}

.answers {
  max-width: 20rem;
}
.cardcontent {
  padding: 10px;
}

%assets {
  position: absolute;
}

.thing {
  position: absolute;
  top: -330px;
  z-index: 0;
  @include mixins.media(mobile) {
    display: none;
  }
}

.ledge {
  @extend %assets;
  left: 0;
  bottom: 55%;
}

.bat {
  @extend %assets;
  z-index: 0;

  // animation: flyBat 30s ease-in-out infinite
}

.batBob {
  position: absolute;
  left: 80%;
  bottom: 10px;
  z-index: 0;
  animation: bobbing 2s ease-in-out infinite;
  @include mixins.media(mobile) {
    width: 20%;
    height: auto;
    left: 70%;
  }
}

@keyframes bobbing {
  0%,
  100% {
    transform: translateY(0); /* No vertical movement at the start and end */
  }
  50% {
    transform: translateY(-15px); /* Bobbing upward */
  }
}

@keyframes flyBat {
  0% {
    right: 0; /* Start from the right */
    top: 30%;
    transform: translateX(0%) rotate(0deg);
  }

  50% {
    right: 0%;
    top: 30%;
    transform: translateX(-50%) rotate(0);
  }

  55% {
    right: 82%;
    top: 120%;
    transform: translateX(-50%) rotate(360deg);
  }

  95% {
    right: 82;
    top: 120%;
    transform: translateX(0%) rotate(360deg);
  }
  100% {
    right: 0;
    top: 30%;
    transform: translateX(0%) rotate(0deg);
  }
}

.buttons {
  // For mobile screens (small devices like phones)
  @include mixins.media(mobile) {
    flex-direction: column; // Stack buttons vertically on small screens
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; // Or use a variable for 'huge' gap size
    flex-wrap: wrap; // Allow buttons to wrap to the next row if necessary

    gap: 1rem; // Adjust the gap for mobile screens
  }

  .button {
    min-width: 150px; // Default width for larger screens
    @include mixins.media(mobile) {
      margin-bottom: 0.5rem; // Add spacing between stacked buttons on mobile, if needed      margin-bottom: 1rem; // Add spacing between stacked buttons
    }
  }
}

.bug_on_rock {
  position: absolute;
  bottom: 150px;
  right: 0;

  @include mixins.media(laptop) {
    bottom: 50px;
  }

  @include mixins.media(mobile) {
    width: 20%;
    height: auto;
    bottom: -200px;
    right: 0;
  }
}
