@layer card, flex;

@layer card {
  .card {
    clip-path: polygon(var(--card-outer));
    overflow: hidden;
    position: relative;
  }

  .content {
    clip-path: polygon(var(--card-inner));
    background-color: var(--card-inner-color);
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: calc(var(--card-offset) * 1px);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Individual Borders */
  .borderTop,
  .borderRight,
  .borderBottom,
  .borderLeft {
    position: absolute;
    content: '';
  }

  .borderTop {
    top: 0;
    left: 0;
    width: 100%;
    height: calc(var(--card-offset) * 1px);
  }

  .borderRight {
    top: 0;
    right: 0;
    width: calc(var(--card-offset) * 1px);
    height: 100%;
  }

  .borderBottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(var(--card-offset) * 1px);
  }

  .borderLeft {
    top: 0;
    left: 0;
    width: calc(var(--card-offset) * 1px);
    height: 100%;
  }
}
