@use '@/styles/spacing';
@use '@/styles/mixins';
@use '@/styles/colors';

:root {
  @include colors.init;
  @include spacing.init;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;

  @include mixins.media(tablet) {
    font-size: 12.8px;
  }
}

/* styles.css */
.custom-gradient {
  background: linear-gradient(
    to bottom,
    #2C4374 0%,
    #193656 28%,
    #062938 100%
  );
}
