@layer card, flex;

@layer card {
  // Outer brown outline
  .outline {
    content: '';
    position: absolute;
    inset: -2px; // Makes the border slightly larger
    clip-path: polygon(var(--card-outer)); // Larger border for brown effect
    background-color: var(--background-color1, white); // Brown outline
    background: linear-gradient(
      to bottom right,
      var(--background-color1) 49.9%,
      var(--background-color2) 50%
    );
    z-index: -1;
  }

  .content {
    clip-path: polygon(var(--card-inner));
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: calc(var(--card-offset) * 1px);
    background-color: var(--content-color, white);
    margin: auto;
  }
}
